.elemContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.sign{
    cursor: pointer;
    font-weight: bold;
    height: 100%;
}

.title{
    font-size : 1.5rem; 
    font-weight: 500;
}